@charset "UTF-8";
/*////////////////
    Иконочный шрифт
////////////////*/
@font-face {
  font-family: 'symbols-technomart';
  src: url('../font/symbols-technomart.eot?22619757');
  src: url('../font/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'), url('../font/symbols-technomart.woff?22619757') format('woff'), url('../font/symbols-technomart.ttf?22619757') format('truetype'), url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-technomart';
    src: url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-left:before {
  content: '\3c';
}
/* '&lt;' */
.icon-right:before {
  content: '\3e';
}
/* '&gt;' */
.icon-basket:before {
  content: '\62';
}
/* 'b' */
.icon-facebook:before {
  content: '\66';
}
/* 'f' */
.icon-twitter:before {
  content: '\74';
}
/* 't' */
.icon-vk:before {
  content: '\76';
}
/* 'v' */
.icon-up:before {
  content: '\2c4';
}
/* '˄' */
.icon-down:before {
  content: '\2c5';
}
/* '˅' */
.icon-left-big:before {
  content: '\2190';
}
/* '←' */
.icon-right-big:before {
  content: '\2192';
}
/* '→' */
.icon-login:before {
  content: '\2386';
}
/* '⎆' */
.icon-logout:before {
  content: '\241b';
}
/* '␛' */
.icon-up-dir:before {
  content: '\25b2';
}
/* '▲' */
.icon-down-dir:before {
  content: '\25bc';
}
/* '▼' */
.icon-circle:before {
  content: '\25cb';
}
/* '○' */
.icon-circle-dot:before {
  content: '\25cf';
}
/* '●' */
.icon-star:before {
  content: '\2605';
}
/* '★' */
.icon-check-off:before {
  content: '\2610';
}
/* '☐' */
.icon-check-on:before {
  content: '\2611';
}
/* '☑' */
.icon-youtube:before {
  content: '\f39e';
}
/* '' */
.icon-home:before {
  content: '🏠';
}
/* '\1f3e0' */
.icon-user:before {
  content: '👨';
}
/* '\1f468' */
.icon-phone:before {
  content: '📞';
}
/* '\1f4de' */
.icon-instagramm:before {
  content: '📷';
}
/* '\1f4f7' */
.icon-search:before {
  content: '🔍';
}
/* '\1f50d' */
.icon-bookmark:before {
  content: '🔖';
}
/* '\1f516' */
/*////////////////
    Общая часть
////////////////*/
html,
body {
  min-width: 960px;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
}
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}
.container {
  width: 940px;
  margin: 0 auto;
}
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*////////////////
    Header
////////////////*/
.main-header {
  font-size: 17px;
  padding-bottom: 60px;
  background: #f1f5f7;
}
.main-header a {
  text-decoration: none;
}
.header-top-panel {
  background: #293449;
  color: #fff;
  margin-bottom: 46px;
}
.header-top-panel a {
  color: #fff;
  box-sizing: border-box;
}
.logo {
  display: block;
  float: left;
  width: 220px;
  height: 42px;
  padding-top: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  background: #ee3643;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
}
.header-logo {
  box-shadow: 0 5px 0 0 #b52933,
		inset 0 1px 0 0 #e03643;
}
.header-search-form {
  float: left;
  width: 270px;
}
.header-search-form input {
  box-sizing: border-box;
  width: 100%;
  height: 41px;
  border: none;
  padding: 0;
  padding-left: 49px;
  background: #293449;
  color: #fff;
}
.search-btn {
  display: none;
}
.top-panel-right-side {
  float: right;
  font-size: 0;
}
.top-panel-right-side a {
  font-size: 17px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  height: 42px;
  min-width: 150px;
  padding-top: 11px;
  padding-left: 45px;
  position: relative;
}
.top-panel-right-side .btn-order {
  background: #63a63e;
  padding-right: 10px;
  padding-left: 21px;
  padding-right: 21px;
}
.top-panel-right-side .icon-bookmark {
  padding-left: 43px;
  min-width: 150px;
}
.top-panel-right-side .icon-bookmark:before,
.top-panel-right-side .icon-basket:before {
  position: absolute;
  left: 10px;
  color: rgba(255, 255, 255, 0.3);
}
.header-middle-panel {
  padding-bottom: 41px;
}
.header-middle-panel .shop-description {
  float: left;
  width: 192px;
  padding-top: 2px;
  padding-left: 52px;
  padding-right: 61px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}
.header-middle-panel .header-contacts {
  float: left;
}
.header-middle-panel .phone-number {
  margin-left: 15px;
  margin-bottom: 7px;
  padding-top: 8px;
  padding-left: 71px;
  color: #e9292a;
  font-size: 21px;
  border: 3px solid #fff;
  box-sizing: border-box;
  width: 270px;
  height: 45px;
  position: relative;
}
.header-middle-panel .phone-number:before {
  position: absolute;
  left: 8px;
  top: 9px;
  color: #b7bfc8;
}
.header-middle-panel .header-address {
  font-size: 14px;
  color: #32425c;
  margin-left: 25px;
}
.header-middle-panel .login-menu {
  float: right;
  box-sizing: border-box;
  width: 310px;
  text-align: right;
  font-size: 0;
}
.header-middle-panel .login-menu-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 21px;
  color: #000;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 23px;
  margin-left: 10px;
  position: relative;
}
.header-middle-panel .login-menu-btn:before {
  position: absolute;
  left: 10px;
  top: 11px;
  color: #c5c5c5;
}
.header-middle-panel .icon-login {
  padding-left: 48px;
}
.header-middle-panel .user-menu {
  float: right;
  text-align: right;
  width: 300px;
  font-size: 0;
}
.header-middle-panel .user-menu a {
  display: inline-block;
  vertical-align: top;
}
.header-middle-panel .user-menu-name {
  font-size: 21px;
  line-height: 24px;
  color: #000;
  background: #fff;
  padding-left: 47px;
  padding-top: 10px;
  box-sizing: border-box;
  height: 45px;
  width: 260px;
  text-align: left;
}
.header-middle-panel .user-menu-logout-btn {
  box-sizing: border-box;
  height: 45px;
  width: 40px;
  background: #fff;
}
.header-middle-panel .user-menu-ref {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  margin-top: 8px;
}
.header-middle-panel .my-orders {
  margin-right: 32px;
}
.header-middle-panel .my-cabinet {
  margin-right: 72px;
}
.main-menu {
  background: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  height: 60px;
  list-style: none;
  font-size: 0px;
  text-align: center;
}
.main-menu li {
  display: inline-block;
  vertical-align: top;
}
.main-menu a {
  display: block;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 19px;
  height: 60px;
  color: #fff;
  font-size: 17px;
}
/*////////////////
      Footer
////////////////*/
.main-footer {
  color: #fff;
}
.main-footer a {
  text-decoration: none;
  color: #fff;
}
.footer-menu ul {
  list-style: none;
}
.footer-menu li {
  display: inline-block;
  vertical-align: top;
}
.footer-top-panel {
  background: #32425c;
  padding-bottom: 50px;
}
.footer-top-panel .footer-contacts {
  float: left;
}
.footer-top-panel .footer-menu {
  float: right;
}
.footer-top-panel p {
  clear: both;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
.footer-logo {
  margin-bottom: 32px;
  padding-top: 17px;
  padding-left: 36px;
  text-align: left;
  font-size: 30px;
  box-sizing: border-box;
  line-height: 30px;
  height: 63px;
}
.footer-contacts p {
  padding-left: 3px;
}
.footer-menu {
  font-size: 18px;
  line-height: 24px;
  text-align: right;
}
.footer-menu ul {
  padding: 0;
  margin-left: 0;
}
.footer-menu li {
  margin-left: 55px;
}
.footer-menu li:first-child {
  margin-left: 0;
}
.footer-menu-top-part {
  margin-top: 37px;
}
.footer-menu-bottom-part {
  margin-top: 34px;
}
.footer-menu-bottom-part a {
  color: #ffd180;
}
.footer-bottom-panel {
  background: #293449;
  font-size: 16px;
  line-height: 19px;
  padding-top: 36px;
}
.footer-bottom-panel .copyright {
  float: left;
  padding: 0;
  padding-bottom: 35px;
  padding-left: 1px;
  margin: 0;
  width: 314px;
}
.footer-bottom-panel .social-buttons {
  float: left;
  box-sizing: border-box;
  width: 314px;
  font-size: 0;
  padding-left: 72px;
}
.footer-bottom-panel .btn-social {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  margin-left: 3px;
  margin-right: 3px;
  background: #212a3a;
  border-radius: 50%;
  position: relative;
}
.footer-bottom-panel .btn-social:before {
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 7px;
  top: 10px;
}
.studio-contacts {
  float: right;
}
.studio-contacts p {
  padding-right: 14px;
}
.studio-contacts a {
  color: #ffd180;
}
.studio-contacts.site {
  margin-left: 38px;
}
.catalog-item {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 220px;
  min-height: 318px;
  border: 1px solid #e5e5e5;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
}
/*////////////////
   index.html
////////////////*/
.btn {
  display: inline-block;
  box-sizing: border-box;
  height: 38px;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background: #ee3643;
  text-decoration: none;
  border-radius: 3px;
}
.promo-blocks {
  margin-top: 59px;
}
.product-kinds {
  margin-bottom: 20px;
}
.promo-block {
  box-sizing: border-box;
  width: 300px;
  height: 123px;
  padding-top: 20px;
  padding-left: 23px;
}
.promo-block p {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 12px;
}
.promo-block a {
  display: block;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  width: 138px;
  height: 38px;
  padding-top: 11px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 4px;
}
.promo-block.materials {
  background: #f6b22d;
  margin-right: 20px;
}
.promo-block.tools {
  background: #4aafde;
}
.promo-block.equipment {
  background: #cc79d1;
}
.promo-block.sale {
  background: #85d179;
  margin-bottom: 20px;
}
.promo-block.delivery {
  background: #f6b22d;
}
.product-kinds .materials {
  float: left;
}
.product-kinds .tools {
  float: left;
}
.product-kinds .equipment {
  float: right;
}
.promo-slider-and-actions {
  margin-bottom: 53px;
}
.promo-slider-and-actions .promo-slider {
  float: left;
  background: green;
  box-sizing: border-box;
  width: 620px;
  height: 266px;
}
.promo-slider-and-actions .actions {
  float: right;
}
.section-title {
  box-sizing: border-box;
  min-height: 89px;
  background: #f7f3ec;
  padding-left: 28px;
  padding-right: 24px;
  padding-top: 25px;
  margin-bottom: 20px;
}
.section-title h2 {
  float: left;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
}
.section-title .section-title-btn {
  float: right;
  width: 253px;
}
.popular-catalog-items {
  font-size: 0;
}
.popular-catalog-items .catalog-item {
  margin-right: 20px;
  margin-bottom: 21px;
}
.popular-catalog-items .catalog-item:nth-child(4n) {
  margin-right: 0;
}
.catalog-brand {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 220px;
  min-height: 145px;
  border: 1px solid #e5e5e5;
  font-size: 18px;
}
.popular-brands {
  font-size: 0;
}
.popular-brands .catalog-brand {
  margin-right: 20px;
  margin-bottom: 20px;
}
.popular-brands .catalog-brand:nth-child(4n) {
  margin-right: 0;
}
.popular-brands .catalog-brand:last-child {
  margin-bottom: 85px;
}
.services {
  background: #f2f6f8;
  padding-bottom: 102px;
  margin-bottom: 76px;
}
.services-top-level {
  padding-top: 62px;
}
.services-title {
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.services-description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 69px;
}
.services-bottom-level .services-info {
  display: none;
  float: right;
}
.services-bottom-level .active {
  display: block;
}
.tabs {
  float: left;
}
.tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tabs a {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  width: 240px;
  min-height: 61px;
  padding-top: 17px;
  padding-left: 22px;
  background: #32425c;
  box-shadow: inset 0px 1px #405069, inset 0px -1px #293449;
  color: #fff;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
}
.services-info-title {
  font-size: 36px;
  line-height: 45px;
  color: #32425c;
  text-transform: uppercase;
}
.services-info-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.about-company .btn {
  margin-bottom: 86px;
}
.about-company-description {
  float: left;
  box-sizing: border-box;
  width: 550px;
}
.about-company-description ul {
  list-style: none;
  padding: 0;
  margin-top: 22px;
  margin-bottom: 37px;
}
.about-company-description li {
  padding-left: 36px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
}
.about-company-title {
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}
.about-company-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-top: 23px;
}
.about-company-contacts {
  float: right;
  box-sizing: border-box;
  width: 300px;
}
.about-company-contacts .about-company-text {
  margin-bottom: 32px;
}
.map {
  margin-bottom: 35px;
}
.map img {
  width: 300px;
  height: 158px;
}
.about-company-btn {
  width: 220px;
}
.write-us-btn {
  width: 300px;
}
/*////////////////
   catalog.html
////////////////*/
.breadcrumbs {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  list-style: none;
}
.breadcrumbs li {
  display: inline-block;
}
.catalog-filter {
  float: left;
  width: 200px;
}
.catalog-items {
  width: 700px;
  float: right;
}
.paginator {
  clear: both;
}
