/*////////////////
    Общая часть
////////////////*/
@body_width: 960px;
@body_padding: 10px;
@container_width: @body_width - (2 * @body_padding);

.sprite { background: url("../img/sprite.png") no-repeat center; height: 16px;  } 
.icon-fb { background-position: 0 0; width: 12px; height: 22px; } 
.icon-ig { background-position: 0 -52px; width: 21px; height: 21px; } 
.icon-login { background-position: 0 -103px; width: 18px; } 
.icon-vk { background-position: 5 -149px; width: 25px; } 

body{	
	font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
    color: #000;
	min-width: @body_width;
}

h1, h2, h3{
	margin: 0;
	padding: 0;
}

.container{
	width: @container_width;
	margin: 0px auto;
	padding: 0;
	display: flex;
}

.btn{
	display: inline-block;
	vertical-align: top;
	margin-right: 16px;
	padding: 10px 33px;
	font-size: 14px;
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: 700;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;	
	
	color: #fff;
	background: #000;
	border: none;
	outline: none;	
	cursor: pointer;
}
.btn:hover,
.btn:active{
	background: #663d15;
}
.btn.disabled{
	cursor: default;
	opacity: 0.5;
}


.breadcrumbs{
	list-style: none;
	display: flex;
	a{
		text-decoration: none;
		color: #000;
	}
	li{
		padding-right: 38px;
	}
}

/*////////////////
    Header
////////////////*/
.main-header{
	background-color: #000;
	font-size: 16px;
	.container{
		justify-content: space-between;
		
	}	
	ul{
		margin: 0;
		margin-left: 9px;
		padding: 0;
		list-style: none;
	}
	a{
		display: block;
		color: #fff;
		text-decoration: none;
		padding: 23px 21px;
	}
	a:hover{
		background: #242424;
	}
}

.main-navigation{
	ul{
		display: flex;
	}
	.active a{
		position: relative;
	}	
	.active a:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 21px;
		right: 21px;
		height: 4px;
		background: #fff;
	}
}
.user-block{
	padding-right: 9px;
	padding-left: 29px;
	position: relative;
	a{
		padding-left: 50px;
	}
}
.login:before{
	content: "";
	position: absolute;
	top: 28px;
	left: 49px;
	width: 18px;
	height: 19px;
	.sprite;
	.icon-login;
	opacity: 0.3;
}
.login:hover:before{
	opacity: 1;
}

/*////////////////
      Footer
////////////////*/
.main-footer{
	background: #222 url("../img/footer-bg.png");
	color: #fff;
	box-sizing: border-box;
	height: 190px;
	padding-top: 60px;
	.container{
		justify-content: space-between;
	}	
	section{
		flex-shrink: 0;
		flex-grow: 0;
		flex-basis: ceil(@container_width / 3.0);
		padding: 0;
		margin: 0;
	}
	a{
		color: #fff;
	}
	p{
		margin: 0;
		margin-bottom: 20px;
	}
}
.footer-social{
	text-align: center;
}
.social-buttons{
	display: flex;
	justify-content: center;
}
.social-btn{	
	width: 43px;
	height: 43px;
	font-size: 0;
	text-decoration: none;
	background-color: #000;
	margin-right: 3px;
	margin-left: 3px;
}
.social-btn:hover{
	background-color: #fff;
}
.footer-copyright{
	text-align: right;
	p{
		margin-right: 27px;
	}
	.btn{
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		box-sizing: border-box;
		width: 140px;
	}
	.btn:hover{
		color: #000;
		background: #fff;
	}
}

/*////////////////
   Index.html
////////////////*/
.index-body{
	background: #070707 url("../img/index-bg.jpg") no-repeat center top;	
}
.logo-contaier{
	padding-top: 60px;
	justify-content: center;
	margin-bottom: 30px;
	img{
		width: 368px;
		height: 204px;
	}
}
.main-content{
	display: block;
}
.features-row{
	display: flex;
	padding-bottom: 80px;
}
.features-item{
	box-sizing: border-box;
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: ceil(@container_width / 3.0);
	color: #fff;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	
	p{
		margin: 0;
	}		
}
.features-title{
	position: relative;
	font-size: 30px;
	padding-bottom: 50px;
	margin-bottom: 30px;
}

.features-title:after{
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background: #fff;
	bottom: 0;
	left: 50%;
	margin-left: -10px;
	transform: rotate(45deg);
}

.index-content{
	display: flex;
	background: url("../img/index-content-shadow.png") no-repeat center, url("../img/bg.png") repeat, #f8f5f2;
	margin-bottom: 34px;
	h2{
		margin: 0;
		margin-bottom: 37px;
		font-size: 30px;
	}	
}
.content-column{
	padding: 54px 90px;
	flex-shrink: 1;
	flex-grow: 0;
	flex-basis: ceil(@container_width / 2.0);
	ul{
		list-style: none;
		padding: 0;
	}
	figure{
		margin: 0;
	}
}
.news-preview
{
	margin-bottom: 35px;
	time{
		text-transform: none;
		font-weight: 400;
	}
}

.gallery-content{
	margin: 0;
	padding: 0;
	border: 7px solid #fff;
	background: #ccc;
	img{
		display: block;
		width: 286;
		height: 164;
	}
}
.gallery
{
	.btn{
		width: 140px;
	}
	.btn:last-child{
		margin-right: 0;
	}
	figure{
		margin-bottom: 38px;
	}	
}

.contacts-column{
	flex-shrink: 0;
	flex-basis: 470px-90px;
	padding-right: 0;
}

.main-content{
	margin-bottom: 64px;
}

.appointment-form{
	form{		
		display: flex;
		flex-wrap: wrap;
	}
	input{
		padding: 10px 15px;
		width: 140px;
		box-sizing: border-box;
		height: 43px;
		margin-right: 10px;
		margin-bottom: 19px;
		border: 2px solid #000;
		font-family: "PT Sans Narrow", sans-serif;
		font-size: 14px;
		line-height: 24px;
		text-transform: uppercase;
		color: #000;
		background: #f9f6f3;
		outline: none;
	}
	input:focus{
		border: 2px solid #663d15;
	}
	input:nth-child(2n){
		margin-right: 0;
	}
	button{
		width: 100%;
		margin-top: 15px;
	}
}
/*////////////////
   catalog.html
////////////////*/
.catalog-container{
	display: flex;	
}
.catalog-filter{
	box-sizing: border-box;
	flex-shrink: 0;
	flex-grow: 0;	
	flex-basis: 240px;
	
}
.catalog{
	box-sizing: border-box;
	flex-shrink: 0;
	flex-grow: 0;	
	flex-basis: 680px;
	display: flex;
	flex-wrap: wrap;
}
.pagination{
	width: 100%;	
}
.page-number{
	display: inline-block;
}

/*////////////////
 catalog-item.html
////////////////*/
.catalog-item-content{
	display: block;
}
.product{
	display: flex;
	a{
		text-decoration: none;
	}
}
/*////////////////
   price.html
////////////////*/
.price-content{
	display: block;
}
.price-content-row{
	display: flex;
}
.price-content-column{
	flex-basis: 470px;
}
