/*////////////////
    Общая часть
////////////////*/
@body_width: 960px;
@body_padding: 10px;
@container_width: @body_width - (2 * @body_padding);

body{	
	font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
	font-size: 14px;
	line-height: 24px;
    color: #000;
	min-width: @body_width;
}

h1, h2, h3{
	margin: 0;
	padding: 0;
}

.container{
	width: @container_width;
	margin: 0px auto;
	padding: 0;
	display: flex;
	outline1: 1px solid red;
}

.btn{
	box-sizing: border-box;
	height: 43px;
	background: #000;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	
}

.breadcrumbs{
	list-style: none;
	display: flex;
	a{
		text-decoration: none;
		color: #000;
	}
	li{
		padding-right: 38px;
	}
}

/*////////////////
    Header
////////////////*/
.main-header{
	background-color: #000;
	font-size: 16px;
	.container{
		justify-content: space-between;
		padding-top: 27px;
		padding-bottom: 27px;
		
	}	
	ul{
		margin: 0;
		margin-left: 30px;
		padding: 0;
		list-style: none;
	}
	li{
		margin-right: 43px;
	}
	a{
		color: #fff;
		text-decoration: none;
	}
}

.main-navigation{
	ul{
		display: flex;
		outline1: 1px solid brown;
	}
}
.user-block{
	padding-right: 30px;
}

/*////////////////
      Footer
////////////////*/
.main-footer{
	background: #222 url("../img/footer-bg.png");
	color: #fff;
	.container{
		justify-content: space-between;
	}	
	section{
		flex-shrink: 0;
		flex-grow: 0;
		flex-basis: ceil(@container_width / 3.0);
		padding: 0;
		margin: 0;
	}
	a{
		color: #fff;
	}
}
.footer-social{
	text-align: center;
}
.footer-copyright{
	text-align: right;
}

/*////////////////
   Index.html
////////////////*/
.index-body{
	background: #070707 url("../img/index-bg.jpg") no-repeat center top;	
}
.logo-contaier{
	padding-top: 60px;
	justify-content: center;
	margin-bottom: 30px;
}
.main-content{
	display: block;
}
.features-row{
	display: flex;
	outline1: 1px solid yellow;
	padding-bottom: 80px;
}
.features-item{
	box-sizing: border-box;
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: ceil(@container_width / 3.0);
	color: #fff;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	
	p{
		margin: 0;
	}		
}
.features-title{
	font-size: 30px;
	margin-bottom: 80px;
}

.index-content{
	display: flex;
	background: url("../img/index-content-shadow.png") no-repeat center, url("../img/bg.png") repeat, #f8f5f2;
	margin-bottom: 34px;
	h2{
		margin: 0;
		margin-bottom: 37px;
		font-size: 24px;
	}	
}
.content-column{
	figure{
		margin: 0;
	}
	padding: 54px 90px;
	flex-shrink: 1;
	flex-grow: 0;
	flex-basis: ceil(@container_width / 2.0);
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.main-content{
	margin-bottom: 64px;
}

.appointment-form{
	form{		
		display: flex;
		flex-wrap: wrap;
	}
	input{
		padding: 0;
		width: 140px;
		box-sizing: border-box;
		height: 43px;
		margin-right: 10px;
		margin-bottom: 19px;
	}
	input:nth-child(2n){
		margin-right: 0;
	}
	button{
		width: 100%;
		margin-top: 15px;
	}
}
/*////////////////
   catalog.html
////////////////*/
.catalog-container{
	display: flex;	
}
.catalog-filter{
	box-sizing: border-box;
	flex-shrink: 0;
	flex-grow: 0;	
	flex-basis: 240px;
	
}
.catalog{
	box-sizing: border-box;
	flex-shrink: 0;
	flex-grow: 0;	
	flex-basis: 680px;
	display: flex;
	flex-wrap: wrap;
}
.pagination{
	width: 100%;	
}
.page-number{
	display: inline-block;
}